In [184]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 
import csv
import math

In [185]:
link='https://wuzzuf.net/search/jobs/?a=navbl&q=data%20science%20jobs&start=1'
soup=requests.get(link).text
soup=BeautifulSoup(soup,'html.parser')
n=int(soup.find(attrs={'class':'css-8neukt'}).text.split('of')[1].strip())
pages_n=math.ceil(n/15)

In [186]:
jobs=[]
companies=[]
countries=[]
all_talents=[]    

for i in range (0,pages_n):
    link=f'https://wuzzuf.net/search/jobs/?a=navbl&q=data%20science%20jobs&start={i}'
    soup=requests.get(link).text
    soup=BeautifulSoup(soup,'html.parser')
    job_soups=soup.find_all('h2',attrs={'class':'css-m604qf'})
    for job_soup in  job_soups:
        jobs.append(job_soup.find('a').text)
    companies_soup=soup.find_all('div',attrs={'class':'css-d7j1kk'})
    for company_soup  in companies_soup:
        companies.append(company_soup.find('a').text[:-2])
    countries_soup=soup.find_all('span',attrs={'class':'css-5wys0k'})
    for country_soup in countries_soup:
        countries.append(country_soup.text)
    all_soups=soup.find_all(attrs={'class':'css-y4udm8'})
    for all_soup in all_soups:
        soups=all_soup.find_all('a',attrs={'class':'css-o171kl'})
        talents=[]
        for talent_soup in soups[0]:
            talents.append(talent_soup)
        for talent_soup in soups[1:]:
            if ' · 'in talent_soup.text:
                talents.append(talent_soup.text[3:])
            else:
                talents.append(talent_soup.text)
        soups=all_soup.find_all('a',attrs={'class':'css-5x9pm1'})
        for talent_soup in soups:
            if ' · 'in talent_soup.text:
                talents.append(talent_soup.text[3:])
            else:
                talents.append(talent_soup.text)
        all_talents.append(talents)

In [187]:
len(jobs),len(companies),len(countries),len(all_talents)

(636, 636, 636, 636)

In [189]:
with open('Wuzzuf_Data_Science.csv','w',encoding='utf-8',newline='') as f:
    writer=csv.writer(f)
    writer.writerow(['jobs','companies','countries','all_talents'])
    for i in range(len(jobs)):
        writer.writerow([jobs[i],companies[i],countries[i],all_talents[i]])
df=pd.read_csv('Wuzzuf_Data_Science.csv')
df

,jobs,companies,countries,all_talents
0,Manager Data Science,Qatar Airways - Other locations,"Doha, Qatar","['Not specified', 'IT/Software Development', '..."
1,Senior Machine Learning/ Data Science Engineer,Si-Ware System,"Cairo, Egypt","['Not specified', 'IT/Software Development', '..."
2,Data Analyst,Second profit,"Nasr City, Cairo, Egypt","['Experienced', 'IT/Software Development', 'An..."
3,Data Entry and App developer,MFG,"Katameya, Cairo, Egypt","['Experienced', 'IT/Software Development', 'Co..."
4,Data Engineer,Second profit,"Nasr City, Cairo, Egypt","['Experienced', 'IT/Software Development', 'An..."
...,...,...,...,...
631,Digital Transformation Specialist,Confidential,"Riyadh, Saudi Arabia","['Experienced', 'IT/Software Development', 'Di..."
632,QA Director,Holding For Pharmaceuticals,"Downtown, Cairo, Egypt","['Senior Management', 'Quality', 'Pharmaceutic..."
633,Business Support Specialist (Telesales),OdooTec,"New Cairo, Cairo, Egypt","['Experienced', 'IT/Software Development', 'Ma..."
634,Senior Storage and Backup Engineer,Global Brands,"New Cairo, Cairo, Egypt","['Experienced', 'IT/Software Development', 'Ba..."
635,Medical Representative,Biostream,"Shubra, Cairo, Egypt","['Experienced', 'Medical/Healthcare', 'Sales/R..."